.cen {
  text-align: center;
  margin: auto;
}

header{
  background-color: azure;
  text-align: center;
}

body{
  line-height: 1.5;
  background-color: azure;
}

.list {
  font-size:1.5em;
  font-weight:bold;
}

header h1{
    font-family: Garamond;
    font-size: 32px;
    font-weight: 600;
    text-align: center;
}

a{
 color: navy;
 text-decoration: none;
}
